<% @lists.each do |list| %>
<%= content_tag :div, class: 'media container', id: "list-#{list.id}" do %>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to list.title, [@user, list] %>
      </h4>
      <small>
        <%= list.description %> | <%= link_to "Delete", list_path(list.id), method: :delete, remote: true %>
      </small>
    </div>
  <% end %>
<% end %>