<h2 class="media-heading">
   <%= @list.title %>
</h2>
<div class="media-body">
   <%= @list.description %>
</div>
</br>

<div class="well well-lg">
   <h2 class="media-heading">
      Todos:
   </h2>
   <%= render partial: 'todos/todos' %>
  <button class="btn btn-danger btn-md delete-todo-button" type="button">
    Delete Todos
  </button>
</div>
</br>

<%= render partial: 'todos/form' %>

