<%= form_tag todo_path, method: :delete do %>
<ul class="list-group">
  <h4 class="media-heading">
    <% @todos.each do |todo| %>
      <div class='list-group-item'>
        <%= check_box_tag 'todo_ids[]', todo.id, false, class: 'todo-check-box' %>
        <%= todo.description%>
      </div>
    <% end %>
  </h4>
</ul>
<%= submit_tag "Delete Todos", class: "btn btn-danger btn-md delete-todo-button" %>
<% end %>