@import "bootstrap-sprockets";
@import "bootstrap";

#main-jumbotron{
  margin-top: -20px;
  width: 100%;
}

.login-blurb{
  color: white;
}

.flash-notice{
  margin-top: -20px;
}

.removeLinkFormat{
  text-decoration: none;
  color: white;
}

.login-blurb img {
  width: 30px;
  height: auto;
}

.create-new-list {
  margin-bottom: 10px;
}

.nothing {
  display: none;
}

.exapnd {
  display: inline;
}